# ignore everything
/*
/*/

# except
# folders to use 
# start with !
!/nvim/
!/tmux/
!/zsh/
!/i3/
!/polybar/
!/hypr/
!/alacritty/
!/qutebrowser/
!/dunst/
!/rofi/
!/waybar/

# ignore some more
# zsh
zsh/.zsh_history
zsh/.zsh_sessions/
zsh/.zcompdump

# tmux
tmux/plugins/*


# my plugin :>
.quickmarks
*/.quickmarks

!.gitignore
!README.md
