$border-radius: .2em;
$theme-primary: darken(#2dbd7d, 15%);
$theme-alt: darken(#2b9b6d, 10%);
$padding-size-mult: 1.5;

* {
  all: unset;
  color: white;
}

.bar {
  background-color: transparent;
}


// --------------------------------------------------
//                  WORKSPACES                      |
// --------------------------------------------------
.workspaces {
    padding:.25em * $padding-size-mult;
    background-color: rgba($theme-primary, .4);
    border-radius: $border-radius;
}

.workspace-entry {
    background-color: transparent; 
    padding: .25em * $padding-size-mult 1em * $padding-size-mult;
    border-radius: $border-radius;
}

.workspace-entry.current {
    background-color: rgba($theme-alt, .6);
}

// --------------------------------------------------
//                WINDOW TITLE                      |
// --------------------------------------------------
.win-title {
    font-size: 1.15em;
}

// --------------------------------------------------
//                 TIME                             |
// --------------------------------------------------
.time {
    font-size: 1.15em;
    background-color: rgba($theme-primary, .95);
    padding: .25em * $padding-size-mult 1em * $padding-size-mult;
    border-radius: $border-radius;
}
