* {
    font-family: "JetBrainsMono Nerd Font";
    border: none;
    border-radius: 0;
    font-size: 13px;

    margin: 1px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.active {
    padding: 0 5px 0 1px;
    color: #ced5d9;
    border-top: 2px solid #ced9d5;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    font-weight: bold;
}

#network {
    margin: 0 12px;
}

#pulseaudio {
    margin: 0 12px;
}

#pulseaudio.muted {
    color: #ce9d5d;
}

#clock {
    margin: 0 12px;
    font-weight: bold;
}

