* {
    font-family: "VictorMono Nerd Font", monospace;
    font-size: x-small;
    font-weight: 900;
}

window#waybar {
    background: rgba(0, 0, 0, .9);
    color: #e0e0e0;
}

#workspaces button {
    color: #e0e0e0;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

#workspaces button:hover {
    color: #e0e0e0;
}

#workspaces button.active {
    border-top: 2px solid #e0e0e0;
    color: #e0e0e0;
}

#pulseaudio.muted {
    color: #f77;
}

.modules-right {
    padding: 0.3em 0.7em;
}

.modules-right * {
    padding: 0 1em;
}
