* {
    font-family: "VictorMono Nerd Font", monospace;
    font-style: italic;
    border: none;
    font-size: 12px;
    padding: .2em;
}

window#waybar {
    background: rgba(0, 0, 0, 0.7);
    color: #e0e0e0;
}

#window {
    font-weight: 600;
}

#workspaces {
    padding: 0 0.4em;
}

#workspaces button {
    padding: 0 6px;
    color: #c0c0c0;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

#workspaces button:hover {
    color: #fff;
}

#workspaces button.active {
    border-top: 2px solid #fff;
    color: #fff;
}

#pulseaudio.muted {
    color: #f77;
}

.modules-right {
    padding: 0.3em 0.7em;
    font-weight: 500;
}

.modules-right * {
    padding: 0 1em;
}
