* {
    border-radius: 3px;
    border: none;
}

window {
    font-family: "VictorMono Nerd Font";
    border-radius: 20px;
    font-style: italic;
    font-size: 16px;

    background-color: #000;
    color: white;

    margin: 1px;
}

#input {
    margin: 5px;

    padding: .6em;

    background-color: #000;
    color: white;

    outline: none;
    border: none;
    box-shadow: none;
}

#input:focus {
    box-shadow: inset 0 0 0 2px #bea;
}

#entry {
    transition: padding 225ms ease-in-out;
}

#entry:selected {
    padding: 1em;
    background-color: #bea;
    outline: none;
}

#text:selected {
    font-weight: bolder;
    color: black;
}

image {
    margin: .25em;
}
